.card {
    &.cardsd {
        width: 100%;
        height: 100%;
        border: none;
    }
}

.imgsd1 {
    border-radius: 25px;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.imgsd2 {
    border-radius: 25px;
    width: 100%;
    height: 350px;
    object-fit: cover;
}