@import '_last';
.section5{
    padding-top: 80px;
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);

}
.row10{
    padding-bottom: 140px;
    padding-top: 50px;
}

.page-footer{
    padding-bottom: 50px;
}
